<h1>概要</h1>
<p>こんにちは開発責任者の望月です。<br>
    現在判明している脆弱性をここに記していきます。優しく見守ってください。<br>
<h2>仕様</h2>
<p>アクセスが許可されていないページ（例:現在ログインしているユーザー以外のユーザーのプロフィール編集画面）にアクセスしようとした場合、
    スレッド一覧画面に遷移します。</p>
<h2>今後追加予定の機能</h2>
<p>ユーザーにプロフィール写真を設定できるようにする。スレッドやコメントにファイルをアップロードできるようにする。新規登録の際、メールアドレスに確認用emailを送信する。</p>