<h1>ぼくがかんがえたさいきょうの掲示板<br>(脆弱性ありよりのあり)</h1>


<button type="button" class="btn btn-outline-info"><i class="fa-solid fa-user-plus"></i><%= link_to "新規登録", new_user_registration_path %></button><br>
<button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-right-to-bracket"></i><%= link_to "ログイン", new_user_session_path %></button>
