<h1>釘パンチどさぐり掲示板<br>(脆弱性ありよりのあり)</h1>
<p>新規登録もしくはログイン完了後、お楽しみください</p>


<button type="button" class="btn btn-outline-info"><i class="fa-solid fa-user-plus"></i><%= link_to "新規登録", new_user_registration_path %></button><br>
<button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-right-to-bracket"></i><%= link_to "ログイン", new_user_session_path %></button>
