<div class="container">
  <div class="row">
    <!-- 中央に配置されたヘッダー -->
    <div class="col-12 text-center my-5">
      <h1>掲示板</h1>
      <p>※本掲示板は新規登録もしくはログイン完了後、お楽しみ頂けます。</p>
    </div>
  </div>

  <!-- 新規登録とログインボタン -->
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 mb-3">
      <%= link_to new_user_registration_path, class: "btn btn-outline-info btn-block text-center" do %>
        <i class="fa-solid fa-user-plus"></i> 新規登録
      <% end %>
    </div>
    <div class="col-lg-4 col-md-6 mb-3">
      <%= link_to new_user_session_path, class: "btn btn-outline-primary btn-block text-center" do %>
        <i class="fa-solid fa-right-to-bracket"></i> ログイン
      <% end %>
    </div>
  </div>
</div>
