<h1>ぼくがかんがえたさいきょうの掲示板</h1>


<button type="button" class="btn btn-outline-info"><%= link_to "新規登録", new_user_registration_path %></button><br>
<button type="button" class="btn btn-outline-primary"><%= link_to "ログイン", new_user_session_path %></button>
