<h1>トップ</h1>
<p>※なんでも投稿していいよ</p>
<button type="button" class="btn btn-outline-dark"><%= link_to '新規投稿', new_subject_path %></button>
<button type="button" class="btn btn-outline-dark"><%= link_to 'スレッド一覧', subjects_path %></button>